@import '../../styles/util.scss';

.item {
    color: black;
    font-size: 24px;

    margin-top: 10px;

    cursor: pointer;
}
.checked {
    text-decoration: line-through;
    color: $color-border-grey;

    transition: color 0.2s;
}