@import '../../styles/util.scss';

.container {
    display: flex;
    align-items: center;
    font-size: 24px;

    margin-top: 10px;

    cursor: pointer;
}
.checked {
    text-decoration: line-through;
}